.profile-box{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: aqua;
}
.profile-mainbox{
    height: 100vh;
    width: 80vw;
    background-color:blueviolet;

}
.profile-mainbox .profile-dp{
    height: 50vh;
    width:80%;
    margin: auto;
    background-color: rgb(14, 88, 39);
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.profile-mainbox .profile-dp .dp-img{
    height: 150px;
    width: 150px;
    border-radius: 80px;
}
.profile-mainbox .profile-dp .dp-idname{
    height: 60%;
    width: 60%;
    background-color:black;
}
.profile-mainbox .profile-post{
    height: 50vh;
    width: 80%;
    margin: auto;
    background-color: rgb(92, 166, 172);
}